@font-face {
  font-family: "Gtwalsheimpro";
  src: local("Gtwalsheimpro"),
   url("./assets/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "GtwalsheimproMed";
  src: local("GtwalsheimproMed"),
   url("./assets/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "GtwalsheimproBold";
  src: local("GtwalsheimproBold"),
   url("./assets/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
